.MuiModal-root {
    z-index: 5 !important;
}

#customized-dialog-title {
    background-color: var(--dark-two) !important;
    padding: 20px !important;
}

.walletConnetModal .MuiDialog-paper {
    background-color: var(--dark-two) !important;
    border-radius: 32px !important;
    width: 400px !important;
}

.walletConnetModal .MuiIconButton-root {
    right: 15px !important;
    top: 15px !important;
}

.walletConnetModal .MuiDialogContent-root {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}