.MuiModal-root {
    z-index: 5 !important;
}

#customized-dialog-title {
    background-color: var(--dark-two) !important;
    padding: 20px !important;
}

.walletConnetModal .MuiDialog-paper {
    background-color: var(--dark-two) !important;
    border-radius: 32px !important;
    width: 400px !important;
}

.walletConnetModal .MuiIconButton-root {
    right: 15px !important;
    top: 15px !important;
}

.walletConnetModal .MuiDialogContent-root {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.button-handles {
    /* width: 100%; */
    /* justify-content: space-between; */
    /* outline: none; */
    cursor: pointer;
    /* background-color: #1f1f1f; */
    /* color: rgb(255, 255, 255); */
    /* font-size: 16px; */
    /* border: 1px solid #ffffff; */
    border-radius: 20px;
    /* padding: 16px; */
    /* margin-top: 24px; */
    /* text-align: left; */
    /* transition: all 0.15s ease-in-out; */
    /* font-family: montserrat;
    font-weight: 500; */
}



.button-createaccount {
    width: 100%;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);
    font-size: 16px;
    /* border: 1px solid #42ed70; */
    border-radius: 20px;
    padding: 16px;
    margin-top: 24px;
    text-align: left;
    transition: all 0.15s ease-in-out;
    font-family: montserrat;
    font-weight: 500;
}

.button-createaccount:hover {
    /* background-color: #000000; */
    border: 1px solid #b3b3b3;

    /* Change to your desired hover background color */
}

.button-createaccount.disabled {
    color: #4c4c4c;
    border: 1px solid #212121;

    pointer-events: none;
    cursor: default;
}

.button-createaccount:not(.disabled) {
    color: #d6d6d6;
    cursor: pointer;
    border: 1px solid #343434;

}

.button-createaccount:not([disabled]):hover {
    background-color: #0a0a0a;
    border: 1px solid #ffffff;

    /* color: #656565; */
}